
html, body {
    margin:0;border:0;padding:0;
    font-size:16px;
    font-family:'Proxima';
    overflow-x:hidden;
    position: relative;
    vertical-align: baseline;
    background-color:  #3366CC;
    /*background-image: url(../images/beijing.jpg)  ;*/
    background-attachment: fixed;
    background-size: cover;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1 {font-size:40px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:15px;}

h2 {
    padding-bottom: 14px;
}
/**/
/**/
/**/
ul, li{
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-top: 6px;
    /*color: #717171;*/
    display: block;
    font-size: 15px;
    /*font-size: 13px;*/
    /*border-bottom: 1px solid #e6e6e6;*/
}
.youji>ul>li{
    display: inline-block;
}
.clear {
    clear: both;
}
ul li span.value {
    margin-right: 30px;
    width: 220px;
    text-align: left;
    float: right;
    font-size: 15px;
}
.label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
    display: block !important;
}
.jd-bar>strong,span{
    font-weight: 500;
    font-size: 10px;

}

.jd>p {
    margin-top: 20px;
    font-size: 10px;
}
.jd-bar>p{
    font-size: 10px;
    margin-bottom:10px;
    margin-top: 10px;
}
.jd-bar .progress{
    margin-bottom: 10px;
    height: 8px;
}
.jd-cat h5{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #50c5f8;
}

.navbar-default {
    background-color: rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a:hover {
    font-weight: 300;
    color: rgba(28, 213, 181, 0.65);
}
img.logo {
    display: block;
    float: left;
    position: absolute;
    width: 13%;
    height: 80%;
    bottom: 10%;
}

.jd-d>ul>li{
    display: inline-block;
    margin-right: 30px;
}
.jd-d>ul>li> span {
    padding-right: 10px;
    padding-left: 3px;
}
.btn-commen {
    margin-top: 10px;
    padding: 12px 30px;
    font-size: 15px;
    background: #50c5f8;
    color: #fff;
}
.meilizhi strong{
    color: rgb(255, 255, 255);

}
.list ul li {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #ccc;
    display: block;
    float: left;
    width: 100%;
}
.fl{
    width: 40%;
    float: left;
    position: relative;
}
.fl>img{
    display: block;
    width: 100%;
    height:150px;
}
.fr{
    width: 55%;
    float: left;
    position: relative;
    font-size: 10px;

}
.fr>div>span{
    padding: 2px;
}
.hot{
    float: right;
    font-size: 20px;
    color: #fb6e14;

}
.em-color {
    color: #b69e40;
}
.user>div {
    margin-bottom: 20px;
}
.user>div>h5{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    color:#60A9F0 ;
    border:1px solid #60A9F0;
}

.home{
    background: url(../images/beijing.jpg);
    background-size: cover;
    min-height: 900px;
}
.banner-content {
    background-color: rgba(47, 47, 47, 0.46);
    width: 80%;
    padding: 3% 0%;
    margin: 0 auto;
    /*text-align: center;*/
}
.name {
    text-align: center;
}
.name a {
    font-size: 4em;
    color: #FFF;
     text-decoration: none;
}
.top-nav ul {
    padding: 0;
    margin: 1.2em 0 0 0;
}
.top-nav ul li {
    display: inline-block;
    margin: 0 1.5em;
}
.top-nav ul li a {
    color: #FFF;
    font-size: 1.2em;
    text-decoration: none;
}
.top-nav ul li a:hover {
    color: rgba(28, 213, 181, 0.65) !important;
}
.cl-effect-15 a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

/**/
/**/
/**/

.accent {
    font-family: 'Proxima Bold';
    line-height: 14px;
    color: #60A9F0;
}

.bold {
    font-weight: bold;
}

.tm-border {
    border: 5px solid #fff;
    box-shadow: 2px 2px #000;
    width: 300px;
}

.shadow {
    text-shadow: 1px 1px #000;
}

.tm-title {
    color: #66CCFF;
}

.white {
    color: #fff;
}

.about,.skills,
.education,.languages,
.contact, .experience ,.test{
    padding: 40px;
    min-height: 250px;
}

.education, .languages,
.contact, .experience ,.test{
    margin-top: 30px;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

/* preloader section */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
    background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-wordpress.sk-spinner {
    /*background-color: #3366CC;*/
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    -webkit-animation: sk-innerCircle 1s linear infinite;
    animation: sk-innerCircle 1s linear infinite; }
.sk-spinner-wordpress .sk-inner-circle {
    display: block;
    background-color: #fff;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 8px;
    top: 5px;
    left: 5px; }

@-webkit-keyframes sk-innerCircle {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0); }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes sk-innerCircle {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0); }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

/* header section */
header {
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
}
header img {
    display: inline-block !important;
}
header h2 {
    padding-top: 40px;
}
header hr {
    border-color: #3366CC;
    width: 100px;
}

/* about section */
.about {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

/* skills section */
.skills {
    /*background: #3366CC;*/
    /*background: #60a9F0;*/
    /*color: #f5f5f5;*/
    background-color: rgba(255, 255, 255,0.6);
}
.skills .progress {
    border-radius: 0px;
    height: 10px;
}
.skills .progress .progress-bar-primary {
    /*background: #204090;*/
    background: rgba(255, 168, 0,0.9670588);
}
.skills strong {
    display: inline-block;
    font-weight: normal;
    padding-bottom: 6px;
}

/* education section */
.education {
    /*background: #3366CC;*/
    background: white;
    /*color: #f5f5f5;*/
}
.education .education-content {
    padding-bottom: 14px;
}
.education h5,.education h6 {
    display: inline-block;
}
.education span {
    padding-right: 10px;
    padding-left: 20px;
}

/* languages section */
.languages {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}
.languages ul {
    padding: 10px;
}
.languages ul li {
    padding-bottom: 6px;
}

/* contact section */
.contact {
    background: #fff;
    /*box-shadow: 0px 1px 5px rgba(50,50,50,0.08);*/
}
.contact .fa {
    padding-right: 6px;
}

/* experience section */
.experience {
    /*background: #3366CC;*/
    background: white;
    /*color: #f5f5f5;*/
    color: black;
}
.experience .experience-content {
    padding-bottom: 14px;
}
.experience h5 {
    display: inline-block;
    color: #000;
}
.experience span {
    padding-right: 10px;
    padding-left: 20px;
}

/* footer section */
footer {
    color: #f9f9f9;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 100px;
}

/* social icon section */
.social-icons {
    padding: 0;
    margin: 0;
}
.social-icons li {
    display: inline-block;
    list-style: none;
}
.social-icons li a {
    /*background: #3366CC;*/
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.4s ease-in;
    position: relative;
    bottom: 10px;
    top: 10px;
}
.social-icons li a:hover {
    background: #202020;
    color: #fff;
}

@media ( max-width: 980px ) {
    .skills {
        margin-top: 30px;
    }
}

@media ( max-width: 360px ) {
    header h1 {
        font-size: 30px;
    }
    .about h2 {
        font-size: 24px;
    }
    .education h4,
    .experience h4 {
        font-size: 20px;
    }

}
.shad{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 2px 10px -1px;
}
.youji ul li{
    margin-right: 30px;
}
.youji >ul >li >a {
    font-size: 10px;
    padding: 2px 2px;
    background: rgba(255,168,0,0.05);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgba(105, 105, 105,1);
}
.youji h5{
    font-size: 15px;
    display: inline-block;

}
.youji h6{
    font-size: 10px;
    display: inline-block;
}
.youji span {
    padding-right: 10px;
    padding-left: 20px;
}
.youji p{
    margin-top: 20px;
    font-size: 10px;
    color: balck;
}
/*点评*/
.dp blockquote {
    padding-left: 0;
    border-left: none;
    padding: 30px;
    background: #fff;
    background: #52d3aa;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}
.author{
    margin-left: 20px;
}
.author > figure {
    float: left;
    margin-right: 10px;
}
.author > figure img {
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.author .subtext {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-weight: 400 !important;
}
.author a {
    color: #52d3aa;
}
.dp blockquote:after {
    content: "";
    position: absolute;
    top: 100%;
    border-top: 10px solid black;
    border-top-color: #52d3aa;
    border-left: 10px solid transparent;
}

.section-heading h2 {
    /* margin: 0 0 0 0; */
    font-size: 40px;
    font-weight: 400;
    /* color: #333; */
    /* position: relative; */
    /* display: block; */
    padding-bottom: 10px;
    line-height: 1.5;
}
.section-heading h3 {
    font-size: 18px;
    font-weight: 400;
    /* line-height: 1.5; */
    color: #8f989f;
    /* position: relative; */
    display: block;
    padding-bottom: 5px;
}
.home-te>strong {
    display: inline-block;
    font-weight: normal;
    padding-bottom: 6px;
}
.progress>div{
    background-color: rgba(255, 168, 0,0.9670588);
}
.tag h5,.tag h6 {
    display: inline-block;
}
.tag span {
    padding-right: 10px;
    padding-left: 20px;
}
.row-1,.row-2{
    padding: 0px;
    margin: 0px;
    /*text-align: center;*/
}
.row-1>li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 10px;
}

.row-1>li>span{
    color: red;
    font-size: 8px;
    font-weight: 800;
}
.row-2>li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}
.row-1 img,.row-2 img {
    border-radius: 100%;
}
.education>ul {
    margin: 0px;
    padding: 0px;
}
.education>ul>li{
    display: inline-block;
    padding-right: 30px;
}
.tag h5,.tag h6 {
    display: inline-block;
}
.tag span {
    padding-right: 10px;
    padding-left: 20px;
}
.btn-select-plan {
    padding: 10px 15px 10px 15px;
    background: rgba(255,168,0,1);
    color: #fff;
}
.wenda-de {
    padding: 30px;
    padding-top: 2em;
    margin-top: 30px;
}
.wenda-de>h2>i{
    color: #1fb5f6;
    font-size: 35px;
}
.wenda-de>h2 >span {
    color: #1fb5f6;
    font-size: 10px;
}
.wenda-de>h2>a>small{
    font-size: 12px;
}
.wenda-de>ul>li{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 12px;
}
.wenda-de>ul{
    border: 1px dashed #d7d7d7;
    margin: 0;
    padding: 0;
}
.wenda-de>ul>li >a {
    font-size: 10px;
    padding: 2px 2px;
    margin: auto;
    background: rgba(255,168,0,0.2);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgba(105, 105, 105,0.5);
}
.wenda-de>p{
    font-size: 10px;
    color: gray;
}
.q >div >h6 {
    margin-top: 5px;
    margin-bottom: 0.3em;
    font-size: 15px;
    color: #fb6e14;
}
.q-tags_links {
    padding: 0px;
    margin: 0px;
}
.q-tags_links li {
    display: inline-block;
    margin: 5px 3px;
}
.q-tags_links >li >a {
    font-size: 10px;
    padding: 5px 10px;
    background: rgba(31, 181, 246,0.3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgba(105, 105, 105,0.5);
}