.t1{
  border: 1px solid red;
}
/* tag*/
.tags{
	list-style:none;
	background:#fff;
	margin-top:2em;
	padding:2em;
}
h4.tag_head{
	color: #333;
	font-weight:400;
	font-size: 1.3em;
	margin-bottom: 1em;
	font-family: 'Audiowide', cursive;
}
ul.tags_links{
	padding:0;
	list-style:none;
	
}
ul.tags_links li {
	display: inline-block;
	margin: 8px 3px;
}
ul.tags_links li a {
	color:#333;
	font-size:0.8125em;
	background: #fff;
	border: 1px solid #00aeff;
	
	padding: 5px 10px;
}
ul.tags_links li a:hover{
	text-decoration:none;
}
ul.tags_links li a:hover{
	background:#00aeff;
	color:#fff;
	font-size: 1em;
}
.link1 {
	font-size: 0.85em;
	line-height: 18px;
	color: #333;
	font-weight: bold;
	background: url(../images/tag_arrow.png) right 4px no-repeat;
	padding-right: 20px;
	margin-top:1.5em;
	display: inline-block;
}
.link1:hover{
	color:#fb4d01;
	text-decoration:none;
}

#fh5co-menus {
  padding: 1em 0 3em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-menus {
    padding: 5em 0;
  }
}
#fh5co-menus .fh5co-heading .heading {
  position: relative;
  padding-top: 30px !important;
}
#fh5co-menus .fh5co-heading .heading:before, #fh5co-menus .fh5co-heading .heading::before {
  height: 64px;
  width: 64px;
  position: absolute;
  content: "";
  background: url(../images/0401-vegan.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -32px;
}
#fh5co-menus .fh5co-heading .sub-heading {
  color: #a99c92;
}
#fh5co-menus .fh5co-food-menu {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-menus .fh5co-food-menu {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    clear: none !important;
  }
}
#fh5co-menus .fh5co-food-menu h2 {
  margin-bottom: 50px;
  font-style: italic;
  position: relative;
}
#fh5co-menus .fh5co-food-menu h2.fh5co-drinks {
  padding-left: 50px;
}
#fh5co-menus .fh5co-food-menu h2.fh5co-drinks:before {
  background: url(../images/0301-pina-colada.png) no-repeat;
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 64px;
  height: 64px;
}
#fh5co-menus .fh5co-food-menu h2.fh5co-dishes {
  padding-left: 80px;
}
#fh5co-menus .fh5co-food-menu h2.fh5co-dishes:before {
  background: url(../images/0302-steak.png) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 45px;
}
#fh5co-menus .fh5co-food-menu ul {
  padding: 0;
  margin: 0;
}
#fh5co-menus .fh5co-food-menu ul li {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #ccc;
  display: block;
  float: left;
  width: 100%;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc {
  clear: both;
  float: left;
  width: 80%;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > figure {
  width: 20%;
  float: left;
  position: relative;
  margin-right: 4%;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > figure img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > div {
  width: 75%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > div p {
  margin: 0;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > div h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
  color: #000;
}
#fh5co-menus .fh5co-food-menu ul li .fh5co-food-pricing {
  float: left;
  width: 20%;
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  color: #fb6e14;
}


/* 图片Common style */
.albums {
  padding: 4em 0;
}

.music-info {
  margin-top: 0em;
  margin-bottom: 0em;
}

.music-grids {
  padding-left: 0;
}

.music-grids img{
	width: 100%;
}
.music-grids p {
    font-size: 15px;
  color: #fff;
  font-weight: 300;
}
.music-grids h4 {
	font-size: 20px;
  font-weight:600;
  color: #fff;
   font-family: 'Jockey One', sans-serif;
}
.music-grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.music-grids figure img {
	position: relative;
	display: block;
}

.music-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.music-grids figure figcaption::before,
.music-grids figure figcaption::after {
	pointer-events: none;
}

.music-grids figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	  background-color:#1fb5f6;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h4 {
	padding-top: 1%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
}

figure.effect-bubba p {
	padding: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba div.a {
	padding: 0px;
	margin-left: -25px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}


figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p ,
figure.effect-bubba:hover div.a{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*end*/



#fh5co-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonials .box-testimony a:hover, #fh5co-testimonials .box-testimony a:focus, #fh5co-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 30px;
  background: #fff;
  background: #52d3aa;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
#fh5co-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 10px solid black;
  border-top-color: #fff;
  border-top-color: #52d3aa;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#fh5co-testimonials .box-testimony blockquote p {
  font-style: italic;
  color: #fff;
}
#fh5co-testimonials .box-testimony .author {
  line-height: 20px;
  color: black;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 400;
}
#fh5co-testimonials .box-testimony .author a {
  color: #52d3aa;
}
#fh5co-testimonials .box-testimony .author a:hover {
  text-decoration: underline;
}
#fh5co-testimonials .box-testimony .author > figure {
  float: left;
  margin-right: 10px;
}
#fh5co-testimonials .box-testimony .author > figure img {
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonials .box-testimony .author p {
  float: left;
  margin-top: 10px;
}
#fh5co-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: 400 !important;
}

.member-photo img{
	width:260px;
	height: 260px;
}


.fl{
	position: relative;
	width:40%;
	
	float: left;
}
.fr{
	position: relative;
	width:60%;

	float: right;
}
.member-detail{
	padding:5px;
	margin-top: 50px;
	text-align:left;
	
}
.member-detail > span{
	padding:0;
	margin:0;
	font-size: 14px;
	margin-left: 15px;
	
}
div.zhishu{
	color:rgba(255, 168, 0,1);
	font-size: 30px;
}
div.zhishu >small{
	color:gray;
	font-size: 10px;
}
.member-detail > span a{
	font-size: 10px;
	color:gray;
	
}

.member-detail .social-media{
	padding:0;
	margin:0;
	padding-top: 3px;
}
.member-detail .social-media li{
	display: inline-block;
	float:left;
	color:#1fb5f5;
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-left: 15px;
}
.member-detail .social-media li a{
	font-size: 10px;
	color: gray;
}
.member-detail .social-media li a span{
	font-size: 10px;
	color:rgba(255, 168, 0,1);
	
}
.jianjie p{
	color: #fff;
	margin-top: 40px;
	font-size: 10px;
}
.hr-im{
	margin-bottom: 10px;
}
.imp{
	margin:0;
	text-align: left;
	color:gray;
	
	font-size: 10px;
}
p.imp > small{
	margin-left: 1px;
	font-size: 10px;
}
p.imp >i{
	font-size: 10px;
	color:rgba(255, 168, 1, 1);
}
.bg-one1 a{
	color: black;
}

.Num{
	display:block;
	float:left;
	margin-left: 15px;
	color: gray;
}
.rank-1 span{
	font-size: 20px;
	color:#1fb5f6;

}
.fh5co-food-menu .fh5co-food-desc div h3 a{
	color:black;
}
.fh5co-food-pricing span{
	font-size: 10px;

}
.fh5co-food-pricing i{
  font-size: 15px;
  color:#6cb670;

}
.img-1{
	display:block;
	width:300px;
	height: 180px;
}

.em-color{
	color:#b69e40;
}
.b-color{
	color:#1fb5f6;
}
.food-1{
	font-size: 10px;
	color:gray;
}
.eat{
	padding-top: 8px;
	font-size: 10px;
}

.eat-w > div{
	float: left;
	padding:0;
	margin:0;
}
.eat-w >div >a{
	padding:0px;
	font-size: 10px;
	letter-spacing: 0px;
	color:rgba(255,168,0,1);
}
.fh5co-services .call-to-action .btn-learn1{
	padding:3px;
	font-size: 10px;
	background:#ff9933;
}
.fh5co-services .call-to-action .btn-learn2{
	padding:3px;
	font-size: 10px;
	background:#cc6600;
}
.fh5co-services .call-to-action .btn-learn0{
	padding:3px;
	font-size: 10px;
	background:#ffcc33;
}

.imp-food{
	font-size: 10px;
	color:gray;
}
.imp-food >small{
	color:gray;
	font-size: 10px;
}
.eat-w-m{
	top: 3px;
	float:center;
	font-size: 10px;
	color:gray;
}

#fh5co-menus .fh5co-food-menu >ul >li> .fh5co-food-desc .figure-1 {
    width: 40%;
    float: left;
    position: relative;
    margin-right: 4%;
}
#fh5co-menus .fh5co-food-menu > ul >li> .fh5co-food-desc .div-1 {
    width: 55%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}
div.food-2{
	padding:0px;
	margin:0px;
	font-size: 10px;
}
div.food-2 >div.eat-w >div >a{
	font-size: 10px;
}
.div-1 >a >h5{
	margin:0px;
	padding:0px;
	margin-bottom: 3px;
}

.youji-detail1{
	margin: 0;
    padding: 0;
    border:1px solid gray;
}
.youji-detail1 >li{
	display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 10px;
    padding-left: 2px;
}

.youji-detail1 >li >a{
    font-size: 10px;
    padding: 2px 2px;
    background: rgba(255,168,0,0.2);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgba(105, 105, 105,0.5);
}
.youji-detail2{
	margin: 0;
    padding: 0;
}
.youji-detail2 >li{
	display: inline-block;

    margin: 0;
    padding: 0;
    font-size: 10px;
    margin-right: 5px;
    padding-right: 5px;
}

.youji-detail2 >li >a{
	color:gray;
}
.cc{
	font-size: 10px;

}
.cc > a{
	color:#fb6e14;
	font-size: 15px;
}

.team-box >h2 >a{
	color:rgba(255,168,0,0.5);
	font-size: 20px;
	font-weight: 100; 
}
.team-box >h2 >i{
	color:#1fb5f6;
	font-size: 25px; 
}
.team-box >h2 >span{
	color:#1fb5f6;
	font-size: 10px; 
}
.youji-detail1{
	border:1px dashed #d7d7d7;;
}
.social-media >p{
	border-top: 1px solid #d7d7d7;
	font-size: 10px;
	color:gray;
	text-align: left;
	margin-bottom: 1em;
}
.social-media >li >a >span{
	font-size: 15px;
}
.social-media >li >a >i{
	font-size: 15px;
}


.row-bottom-padded-lg {
  padding-bottom: 7em;
}
.q >div{
	padding:0px;
	margin:0px;
	background:transparent;
	

}

.q >div >h4 {
	margin-top: 5px;
	margin-bottom: 0.3em;
	font-size: 15px;
	color:#fb6e14;

}
.q-tags_links{
	padding:0px;
	margin:0px;
}
.q-tags_links li{
	display: inline-block;
    margin: 5px 3px;
}
.q-tags_links >li >a{
    font-size: 10px;
    padding: 5px 10px;
    background:rgba(31, 181, 246,0.3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: rgba(105, 105, 105,0.5);
}
.q-tags_links li a:hover{
	font-size: 12px;
	background:rgba(255,168,0,1);
	color: rgba(105, 105, 105,1);
}
.pricing1{
	background:transparent;
}
 .pricing-box{
	background:transparent;
}
.pricing >a{
	background:transparent;
}

.on{
	background:#fff;
	color:gray;
}
.ans{
	font-size: 10px;
	color:gray;
}
.ans >span{
	font-size: 10px;
	color:#1fb5f6;
}
.team-box1 >h2 >a >small{
	color:#fb6e14;
	font-size: 12px;
	margin:0px;
	padding:0px;
	font-weight: 100;
	border:0;
}

.ans span i{
	color: #1fb5f6;
    font-size: 35px;
}
.btn-commen{
	margin-top:10px;
	padding: 12px 30px;
	font-size: 15px;
    background: #50c5f8;
    color: #fff;
}

.team-box1{
	position: relative;
    padding: 30px;
    padding-top: 2em;
    background: #fff;
    float: left;
    width: 100%;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.team-box1 >h2 >a{
	color:#fb6e14;
	font-size: 20px;
	font-weight: 10px; 
}
.team-box1 >h2 >i{
	color:#1fb5f6;
	font-size: 35px; 
}
.team-box1 >h2 >span{
	color:#1fb5f6;
	font-size: 10px; 
}

ul.rank{
	padding:0px;
	margin:0px;

}
li.rank{
	text-align: left;
	color:gray;
	padding:0px;
	margin:0px;
	padding-top: -10px;
}
div.rank{
	padding:0px;
	margin:0px;
	font-size: 10px;
	padding-right: 0px;

}
div.rank >a{
	color:gray;
}
div.rank >a >span{
	color:#1fb5f6;
	font-size: 15px;
}
div.rank >a >span.rank{
	color:rgba(255, 168, 0,1);
}
div.back-y{
	background-color: rgba(255, 168, 0,0.9670588);
}
div.back{
	background-color: rgba(0, 0, 0, 0.1670588);
}

.p_img{
  display:inline-block;
  margin:30px 0;
  width:100%;
  height:100%;
}

.youce {
  /*position: relative;*/
  right: 80px;
  height: 500px;
  border: 1px solid red;
}

.t{
  position:relative;
  display: inline-block;
  margin-right: 0px;
  color: #fff;
  font-size: 10px;
  width:100%;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
}
.t>span{
  position: relative;
  bottom: -30px;
  color: #000;
  right: -20px;
  left: 5px;
}
.t>img{
  display: block;
  width: 50px;
  height: 50px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
float: right;
margin: 10px 0;
margin-right: 10px;
}










.banner-content {
	background-color: rgba(47, 47, 47, 0.46);
	width: 80%;
	padding: 3% 0%;
	margin: 15px auto 0 auto;
	/* text-align: center; */
}
.name {
	text-align: center;
}
.name a {
	font-size: 4em;
	color: #FFF;
	text-decoration: none;
}
.text-center {
	text-align: center;
}
.top-nav ul {
	padding: 0;
	margin: 3em 0 0 0;
}
.top-nav ul li {
	display: inline-block;
	margin: 0 1em;
}
.top-nav>ul>li>a.active {
	color: rgba(28, 213, 181, 0.65) !important;
}

.top-nav ul li a {
	color: #FFF;
	font-size: 1.5em;
	text-decoration: none;
}
.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}


.accent {
	font-family: 'Proxima Bold';
	line-height: 14px;
	color: #60A9F0;
}
.home-te>strong {
	display: inline-block;
	font-weight: normal;
	padding-bottom: 6px;
}


.progress>div {
	background-color: rgba(255, 168, 0,0.9670588);
}
label{
	display: inline-block;
}
ul li span.value {
	/* margin-right: 30px; */
	width: 220px;
	text-align: left;
	float: right;
	font-size: 15px;
}
.shad{
	box-shadow: rgba(0, 0, 0, 0.188235) 0px 2px 10px -1px;
}
.nav1>li>img{
	width: 28px;
	height:28px;
	border: 1px solid #ccc;
	border-radius: 100%;
}

ul li span.value {
	margin-right: 150px;
	width: 220px;
	text-align: left;
	float: right;
	font-size: 15px;
}
.about{
	padding: 40px;
	margin-top: 40px;
}
.zhoubian>ul>li {
	display: inline-block;
	padding-right: 50px;





